= @buses

.container
  .row
    .zone.zone-1
      .col-xs-1
        = image_tag "bus.png", alt: "Buses"
      .col-xs-2.col-xs-offset-0-6
        .row
          \#50 DAMEN
        .row
          AT Ainsle
        .row
          TO 35th/Archer
      - @bus_times2.each do |bus_time|
        .col-xs-1
          .bus-time
            #{bus_time}
  .row
    .zone.zone-2
      .col-xs-1
        = image_tag "bus.png", alt: "Buses"
      .col-xs-2.col-xs-offset-0-6
        .row
          \#50 LAWRENCE
        .row
          AT Wolcott
        .row
          TO Jefferson Park
      - @bus_times2.each do |bus_time|
        .col-xs-1
          .bus-time
            #{bus_time}
  .row
    .zone.zone-3
      .col-xs-1
        = image_tag "train.png", alt: "Trains"
      .col-xs-11
        Zone Three
  .row
    .zone.zone-4
      .col-xs-1
        = image_tag "bicycle.png", alt: "Bicycles"
      - @bicycle_counts.each do |bicycles|
        .col-xs-1
          Wolcott / Lawrence
        .col-xs-1
          #{bicycles} Bikes Available
  .row
    .zone.zone-5
      .col-xs-2
        12:35pm
      .col-xs-4
        Weather
      .col-xs-4

      .col-xs-4