= @buses

.container
  .row
    .zone
      .col-xs-1
        = image_tag "bus.png", alt: "Buses"
      .col-xs-2.col-xs-offset-0-6
        .row
          \#50 DAMEN
        .row
          AT Ainsle
        .row
          TO 35th/Archer
      - @bus_times1.each do |bus_time|
        .col-xs-1
          .bus-time
            #{bus_time}
  .row
    .zone
      .col-xs-1
        = image_tag "bus.png", alt: "Buses"
      .col-xs-2.col-xs-offset-0-6
        .row
          \#73 LAWRENCE
        .row
          AT Wolcott
        .row
          TO Jefferson Park
      - @bus_times2.each do |bus_time|
        .col-xs-1
          .bus-time
            #{bus_time}
  .row
    .zone
      .col-xs-1
        = image_tag "bus.png", alt: "Buses"
      .col-xs-2.col-xs-offset-0-6
        .row
          \#73 LAWRENCE
        .row
          AT Wolcott
        .row
          TO Jefferson Park
      - @bus_times2.each do |bus_time|
        .col-xs-1
          .bus-time
            #{bus_time}
  .row
    .zone
      .col-xs-1
        = image_tag "train.png", alt: "Trains"
      .col-xs-2.col-xs-offset-0-6
        .row
          BROWN LINE
        .row
          AT Damen
        .row
          TO Loop
      - @train_times1.each do |train_time|
        .col-xs-1
          .train-time
            #{train_time}
  .row
    .zone
      .col-xs-1
        = image_tag "bicycle.png", alt: "Bicycles"
      .col-xs-2
        Wolcott / Lawrence
      .col-xs-4
        .row
          #{@divvy_bicycle.available_bikes} Bikes Available
        .row
          #{@divvy_bicycle.open_docks} Open Docks
  .row
    .zone
      .col-xs-2
        .row
          = @weather.current_date
        .row
          = @weather.current_time
        .row
          = @weather.current_temp
      .col-xs-1
        .row
          HIGH
        .row
          = @weather.high_temp
      .col-xs-1
        .row
          LOW
        .row
          = @weather.low_temp
      .col-xs-1
        .row
          RAIN
        .row
          = @weather.chance_of_rain
      .col-xs-1
        .row
          WIND
        .row
          = @weather.wind