%ul
  %li
    = image_tag "home.png", alt: "Dashboard"
  %li
    = image_tag "train.png", alt: "Trains"
  %li
    = image_tag "bus.png", alt: "Buses"
  %li
    = image_tag "bicycle.png", alt: "Bicycles"
  %li
    = image_tag "weather.png", alt: "Weather"
  %li
    = image_tag "settings.png", alt: "Settings"